h3 {
    margin: auto;
    text-align: center;
}

.content-row {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}


.description {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
}
