.clickable-icon{
    cursor: pointer;
    margin: 3px;
    height: 36px;
    width: 36px;
    padding:0;
    size:32px;
}
.clickable-icon-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
  }

#portfolio-image{
    width: 100%;
}