:root {
--veiwImageBGHeight: 1000px;   
--veiwImageBGHeightMobile: 86vw;
}

html {
  font-size:calc(12px + 0.5vw);;
}
:root {
  --navBarSpace: 3.5vw;
  --navBarSpaceMobile: 18vw;
}

body {
  background-color: darkgreen;
  background-image: url(../Assets/background.jpg);
}


.clickable-image{
  cursor: pointer;

}
.container {
    padding-top: 0px;
}

.content {
  background-color: darkgreen;
}

.strip-left-right-margins {
  margin-left: 0px; 
  margin-right: 0px;
}

.content-wrapper {
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-top: var(--navBarSpace);
  }

.content-wrapper-sidebar{
    padding: 0px;
}

.icon-col {
  display:inline-block;
  align-content: center;
}

@media (max-width:767px)
{
  html {
    font-size: 16px;
  }
  .content-wrapper { 
  padding-top: var(--navBarSpaceMobile);
  }
  .mobil-hidden {
    display: none;
  }
}