:root {
--veiwImageBGHeight: 1000px;   
--veiwImageBGHeightMobile: 86vw;
}

html {
  font-size:calc(12px + 0.5vw);;
}
:root {
  --navBarSpace: 3.5vw;
  --navBarSpaceMobile: 18vw;
}

body {
  background-color: darkgreen;
  background-image: url(../Assets/background.jpg);
}
#photo-viewer-background {
  position: top var(--navBarSpace);
  min-height: var(--veiwImageBGHeight);
  width: 100%;
  height: 100%;
  position: fixed;
  background-color:rgba(0,0,0,0.8);
  z-index: 2;
  
}
#photo-viewer-image{
  max-height: 100vh;
  max-width: 100vh;
  position:absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
;
}

.clickable-image{
  cursor: pointer;

}
.container {
    padding-top: 0px;
}

.content {
  background-color: darkgreen;
}

.strip-left-right-margins {
  margin-left: 0px; 
  margin-right: 0px;
}

.content-wrapper {
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-top: var(--navBarSpace);
  }

.content-wrapper-sidebar{
    padding: 0px;
}

.icon-col {
  display:inline-block;
  align-content: center;
}

@media (max-width:767px)
{
  html {
    font-size: 16px;
  }
  .content-wrapper { 
  padding-top: var(--navBarSpaceMobile);
  }
}