:root {
  --navBarSpace: 3.5vw;
  --navBarSpaceMobile: 18vw;
}

body {
  background-color: darkgreen !important;
}

.container {
    padding-top: 0px;
}

.strip-left-right-margins {
  margin-left: 0px; 
  margin-right: 0px;
}

.content-wrapper {
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-top: var(--navBarSpace);
  }

.content-wrapper-sidebar-left,
.content-wrapper-sidebar-right{
    background-image: url(../Assets/background.jpg);
    background-size: 612px;
    background-position: top left;
    padding: 0px;
}

.content-wrapper-sidebar-right{
  background-position: top right;

}

.icon-col {
  display:inline-block;
  align-content: center;
}

@media (max-width:767px)
{
  html {
    font-size: 16px;
  }
  .content-wrapper { 
  padding-top: var(--navBarSpaceMobile);
  }
}